/* styles.css */
.header {
    position: relative;
    background-color: rgba(250, 247, 247, 0.8); /* Fallback background color */
    background-image: url('Images/top12.png'), url('Images/ab27.png'), url('Images/top3.png');
    background-position: left, center, right;
    background-repeat: no-repeat;
    background-size: 30%, 36%, 17%;
    padding: 20px;
    border-radius: 20px;
    border: #131314 1px solid;
    box-shadow: #0c0c0c 0px 10px 20px;
    text-align: center;
    height: 80%;
}

.container {
    position: relative;
    z-index: 1;
}

.glitter-container {
    position: relative;
    z-index: 2; /* Ensure it's above the background images */
}
  .container {
    position: relative;
  }

  h1 {
    position: relative;
    z-index: 1;
    font-size: 5.5rem;
    color: white;
    background-size: cover;
    font-weight: 900;
    text-shadow: #080808 4px 0px 7px;
    text-decoration: none; /* Remove default text-decoration */
}

h1::before {
  content: "";
  position: absolute;
  top: 50%; /* Adjust the vertical position of the line */
  left: 0;
  width: 100%;
  height: 1px; /* Adjust the thickness of the line */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Gradient for the strike-through line */
}

  
  /*h1 {
    position: relative;
    z-index: 1;
    font-size: 5.5rem;
    color: transparent;
    background: url('https://cdn.wallpapersafari.com/58/86/IF0B7m.jpg') repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 900;
    text-shadow: 
        0px 0px 5px rgba(255, 215, 0, 0.5), /* Main gold shadow *
        3px 3px 0 rgba(255, 215, 0, 0.4), /* Glitter effect *
        4px 4px 0 rgba(255, 215, 0, 0.4), /* Glitter effect *
        4px 4px 0 rgba(255, 215, 0, 0.4), /* Glitter effect *
        0 0 25px rgba(255, 215, 0, 0.4); /* Glitter effect *
}*/

  
  @keyframes shine {
    to {
      background-position: right bottom;
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
        font-size: 3.5rem; /* Adjust font size for smaller screens */
    }
}

@media screen and (min-width: 1024px) {
  h1 {
      top: 70px; /* Adjust the position of the text without changing header height */
  }
}
  
  .container {
    position: relative; /* Ensure z-index works correctly */
  }
  
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .containerh {
    max-width: 960px;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container-flex {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.images-container {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Change to 2 columns */
    grid-auto-rows: auto;
    gap: -5rem; /* Add gap between grid items */
    width: 60%; /* Adjust container width */
    align-items: flex-start;
    overflow: hidden;
}

.images-container img{
    overflow: hidden;
    border-radius: 0.5rem;
    width: 75%; /* Adjust width to fill grid item */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Prevent image from stretching */
    gap: 1rem; /* Add gap between grid items */
}

.images-container2 {
    flex: 2;
    display: flex;
    margin: auto 10px;
    grid-template-columns: repeat(3, 1fr); /* Change to 2 columns */
    grid-auto-rows: auto;
    gap: -5rem; /* Add gap between grid items */
    width: 60%; /* Adjust container width */
    align-items: center;
}

.images-container2 img{
    border-radius: 0.5rem;
    width: 25%; /* Adjust width to fill grid item */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Prevent image from stretching */
    gap: 3rem; /* Add gap between grid items */ 
    margin-right: 3%;
}

  
  .containeri {
    display: flex;
    flex: 1;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .py-16 {
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .bg-gray-800 {
    background-color: #0c0c0c;
    align-items: center;
    display: flex;
  }
  
  .bg-gray-900 {
    background-color: #f9fafc;
  }
  
  .bg-gray-200 {
    background-color: #edf2f7;
  }
  
  .text-white {
    color: #0a0a0a;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-3xl {
    font-size: 1.875rem;
    color: #f9fafc;
  }
  
  .text-4xl {
    font-size: 2.25rem;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .mb-8 {
    margin-bottom: 2rem;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .aspect-w-16 {
    width: 100%;
  }
  
  .aspect-h-9 {
    padding-bottom: 6.25%;
  }
  
  .w-full {
    width: 80%;
  }
  
  .h-full {
    height: 90%;
  }

  footer {
    background-color: #0a0a0a;
  }
  
  p {
    color: #edf2f7;
  }

  .text-lg {
    color: #0a0a0a;
    font-size: 1.125rem;
  }

  a {
    color: #edf2f7;
  }

  a :hover {
    color: blue;
  }

  i {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }

  .slideshow-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    opacity: 1;
  }
  
  .slide {
    display: block;
    width: 100%;
    height: 100%;
  }

  .slideshow-controls {
    position: absolute;
    top: 220%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 32%;
  }
  
  .slideshow-controls button {
    background-color: #070708;
    color: #fff;
    padding: 0.5rem 1rem;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    border: none;
    border-radius: 0.5rem;
  }
  
  .slideshow-controls button:hover {
    opacity: 1;
  }
  
  .slideshow-controls .fa-chevron-left,
  .slideshow-controls .fa-chevron-right {
    font-size: 1.5rem;
  }
  
  .donate-btn {
    background-color: #0a0a0a;
    text-align: center;
    justify-content: center;
    color: #edf2f7;
    padding: 1rem 1.3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

    .donate-btn:hover {
        background-color: #f8f8fa;
        color: #0a0a0a;
        border: #070708 1px solid;
    }
  